<div>
  <h2 id="page-heading" data-cy="ReservationHeading">
    <span jhiTranslate="jhipsterSampleApplication50App.reservation.home.title">Reservations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplication50App.reservation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reservation"
        [routerLink]="['/reservation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplication50App.reservation.home.createLabel"> Create a new Reservation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reservations?.length === 0">
    <span jhiTranslate="jhipsterSampleApplication50App.reservation.home.notFound">No reservations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="reservations && reservations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="reservatorId">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.reservatorId">Reservator Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reservatorType">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.reservatorType">Reservator Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="referenceId">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.referenceId">Reference Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="referenceType">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.referenceType">Reference Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reserveType">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.reserveType">Reserve Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="actionBy">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.actionBy">Action By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="timeSlot.id">
            <span jhiTranslate="jhipsterSampleApplication50App.reservation.timeSlot">Time Slot</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reservation', reservation.id, 'view']">{{ reservation.id }}</a>
          </td>
          <td>{{ reservation.reservatorId }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplication50App.ReservatorType.' + reservation.reservatorType }}">
            {{ reservation.reservatorType }}
          </td>
          <td>{{ reservation.referenceId }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplication50App.ReferenceType.' + reservation.referenceType }}">
            {{ reservation.referenceType }}
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplication50App.ReserveType.' + reservation.reserveType }}">
            {{ reservation.reserveType }}
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplication50App.ReservationStatus.' + reservation.status }}">{{ reservation.status }}</td>
          <td>{{ reservation.actionBy }}</td>
          <td>{{ reservation.createdAt | formatMediumDatetime }}</td>
          <td>{{ reservation.updatedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="reservation.timeSlot">
              <a [routerLink]="['/time-slot', reservation.timeSlot?.id, 'view']">{{ reservation.timeSlot?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reservation', reservation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reservation', reservation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reservation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="reservations && reservations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
