<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reservation-heading"
        data-cy="ReservationCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplication50App.reservation.home.createOrEditLabel"
      >
        Create or edit a Reservation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplication50App.reservation.reservatorId" for="field_reservatorId"
            >Reservator Id</label
          >
          <input
            type="text"
            class="form-control"
            name="reservatorId"
            id="field_reservatorId"
            data-cy="reservatorId"
            formControlName="reservatorId"
          />
          <div
            *ngIf="editForm.get('reservatorId')!.invalid && (editForm.get('reservatorId')!.dirty || editForm.get('reservatorId')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reservatorId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipsterSampleApplication50App.reservation.reservatorType"
            for="field_reservatorType"
            >Reservator Type</label
          >
          <select
            class="form-control"
            name="reservatorType"
            formControlName="reservatorType"
            id="field_reservatorType"
            data-cy="reservatorType"
          >
            <option [ngValue]="null">{{ 'jhipsterSampleApplication50App.ReservatorType.null' | translate }}</option>
            <option value="CUSTOMER">{{ 'jhipsterSampleApplication50App.ReservatorType.CUSTOMER' | translate }}</option>
            <option value="BIKER">{{ 'jhipsterSampleApplication50App.ReservatorType.BIKER' | translate }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('reservatorType')!.invalid && (editForm.get('reservatorType')!.dirty || editForm.get('reservatorType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reservatorType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplication50App.reservation.referenceId" for="field_referenceId"
            >Reference Id</label
          >
          <input
            type="text"
            class="form-control"
            name="referenceId"
            id="field_referenceId"
            data-cy="referenceId"
            formControlName="referenceId"
          />
          <div *ngIf="editForm.get('referenceId')!.invalid && (editForm.get('referenceId')!.dirty || editForm.get('referenceId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('referenceId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipsterSampleApplication50App.reservation.referenceType"
            for="field_referenceType"
            >Reference Type</label
          >
          <select
            class="form-control"
            name="referenceType"
            formControlName="referenceType"
            id="field_referenceType"
            data-cy="referenceType"
          >
            <option [ngValue]="null">{{ 'jhipsterSampleApplication50App.ReferenceType.null' | translate }}</option>
            <option value="ORDER">{{ 'jhipsterSampleApplication50App.ReferenceType.ORDER' | translate }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('referenceType')!.invalid && (editForm.get('referenceType')!.dirty || editForm.get('referenceType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('referenceType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplication50App.reservation.reserveType" for="field_reserveType"
            >Reserve Type</label
          >
          <select class="form-control" name="reserveType" formControlName="reserveType" id="field_reserveType" data-cy="reserveType">
            <option [ngValue]="null">{{ 'jhipsterSampleApplication50App.ReserveType.null' | translate }}</option>
            <option value="RESERVE">{{ 'jhipsterSampleApplication50App.ReserveType.RESERVE' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('reserveType')!.invalid && (editForm.get('reserveType')!.dirty || editForm.get('reserveType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reserveType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplication50App.reservation.status" for="field_status"
            >Status</label
          >
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'jhipsterSampleApplication50App.ReservationStatus.null' | translate }}</option>
            <option value="ACTIVE">{{ 'jhipsterSampleApplication50App.ReservationStatus.ACTIVE' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplication50App.reservation.actionBy" for="field_actionBy"
            >Action By</label
          >
          <input type="text" class="form-control" name="actionBy" id="field_actionBy" data-cy="actionBy" formControlName="actionBy" />
          <div *ngIf="editForm.get('actionBy')!.invalid && (editForm.get('actionBy')!.dirty || editForm.get('actionBy')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('actionBy')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplication50App.reservation.createdAt" for="field_createdAt"
            >Created At</label
          >
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdAt')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplication50App.reservation.updatedAt" for="field_updatedAt"
            >Updated At</label
          >
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplication50App.reservation.timeSlot" for="field_timeSlot"
            >Time Slot</label
          >
          <select class="form-control" id="field_timeSlot" data-cy="timeSlot" name="timeSlot" formControlName="timeSlot">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="timeSlotOption.id === editForm.get('timeSlot')!.value?.id ? editForm.get('timeSlot')!.value : timeSlotOption"
              *ngFor="let timeSlotOption of timeSlotsSharedCollection; trackBy: trackTimeSlotById"
            >
              {{ timeSlotOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
